/* Custom styles for The Rhai Book */
blockquote em {
  font-family: serif;
  font-size: 110%;
}

.part-title {
  font-size: 150%;
  font-variant-caps: small-caps;
}

.chapter > .chapter-item {
  font-size: 110%;
}
