/* mdbook-admonish */

@import "mdbook-admonish";

/* Custom styles for The Rhai Book */

blockquote em {
	font-family: serif;
	font-size: 110%;
}

.part-title {
	font-size: 150%;
	font-variant-caps: small-caps;
}

.chapter {
	li {
		color: inherit;
	}
	> .chapter-item {
		font-size: 110%;

		&:first-child {
			font-weight: bold;
			font-size: 200%;
			font-variant-caps: small-caps;
		}
	}
}

td {
	> ol, > ul {
		margin: 0;
		padding: 0;
		padding-left: inherit;
	}
}

main {
	> section, > pre, h1, h2, h3 {
		clear: both;
	}
}

.admonition {
	clear: both;

	&.small {
		margin-left: auto;
		margin-right: auto;
		max-width: 85%;
		font-size: 90%;

		@media only screen and (min-width: 600px) {
			max-width: 70%;
		}
	}

	&.side {
		margin-left: auto;
		margin-right: auto;
		max-width: 85%;
		font-size: 80%;

		@media only screen and (min-width: 600px) {
			float: right;
			margin: 0.3rem 0 1rem 1rem;
			max-width: 25%;

			&.wide {
				max-width: 35%;
				font-size: 85%;
			}
		}
	}
}